name: Release gem

on:
  workflow_run:
    workflows: [Run Tests]
    types: [completed]
    branches: [master]

permissions:
  contents: write
  pull-requests: write

jobs:
  release-if-needed:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    steps:
      - name: Create Release PR
        uses: google-github-actions/release-please-action@v4
        id: release
        with:
          release-type: php
